#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    z-index: 2;

    .container {
        max-width: 1810px;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 20px;

        @include media('<widescreen') {
            align-items: center;
        }
    }

    .logo {

        &.mob {
            display: none;

            @include media('<widescreen') {
                display: block;
                order: -1;
                margin-top: auto;
            }

            img {
                width: 110px;
            }
        }

        img {
            width: 212px;
            min-width: 212px;

            @include media('<laptop_max') {
                width: 125px;
                min-width: 125px;
            }

            @include media('<tablet') {
                width: 115px;
                min-width: 115px;
            }

            @include media('<phone') {
                width: 85px;
                min-width: 85px;
            }
        }
    }

    .menu-wrap {
        display: flex;
        align-items: center;
        column-gap: 50px;
        row-gap: 25px;

        @include media('<widescreen') {
            position: absolute;
            top: 0;
            left: -50%;
            height: 100vh;
            min-height: 100vh;
            width: 50%;
            flex-direction: column-reverse;
            justify-content: flex-end;
            padding: 100px 40px 40px 40px;
            background-color: #558353;
            z-index: 1;
            transition: $anim_05;
            overflow: auto;
        }

        @include media('<tablet') {
            left: -70%;
            width: 70%;
        }

        @include media('<phone') {
            left: -100%;
            width: 100%;
            padding: 100px 40px;
        }

        .active & {
            left: 0;
        }
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        column-gap: 35px;
        row-gap: 25px;
        list-style: none;
        padding: 0;
        margin: 0;

        @include media('<widescreen') {
            flex-direction: column;
            align-items: center;
        }
    }

    .link {
        position: relative;
        font: $regular 32px/1.2 $Montserrat;
        color: $white;

        @include media('<laptop_max') {
            font-size: 20px;
        }

        &::after {
            content:'';
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%);
            height: 2px;
            width: 0;
            background-color: $white;
            transition: $anim_03;
        }

        &:hover {

            &::after {
                width: 100%;
            }
        }
    }

    .search-box {
        z-index: 2;

        @include media('<widescreen') {
            position: relative;
        }
    }

    .search {
        background: none;
        border: none;
        stroke: $white;
        stroke-width: 3;
        transition: $anim_03;
        padding: 0;

        @include media('<widescreen') {
            display: none;
        }

        &:hover {
            stroke-width: 5;
        }

        svg {
            width: 45px;

            @include media('<laptop_max') {
               width: 25px;
            }
        }
    }

    .search-file {
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        max-width: 700px;
        transition: $anim_03;
        z-index: 2;

        @include media('<laptop_max') {
            max-width: 500px;
        }

        @include media('<widescreen') {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
            display: none;
        }

        &.mob {
            display: none;

            @include media('<widescreen') {
                display: block;
            }
        }

        &.active {
            top: 20px;
        }

        input {
            width: 100%;
            padding: 10px 25px;
            border-radius: 50px;
            border: none;
            font: $regular 24px/1.2 $Montserrat;
            color: $black;

            @include media('<laptop_max') {
                font-size: 20px;
                padding: 5px 25px;
            }

            @include media('<widescreen') {
                padding: 5px 50px 5px 15px;
            }
        }
    }

    .btn {
        white-space: nowrap;

        @include media('<laptop_max') {
            font-size: 20px;
        }

        @include media('<tablet') {
            font-size: 14px;
            padding: 7px 10px;
        }
    }
}

.burger {
    display: none;
    position: relative;
    min-width: 30px;
    height: 24px;
    z-index: 2;
    border: none;
    outline: none;
    background: none;
    order: -1;

    @include media('<widescreen'){
        display: block;
        margin-right: 130px;
    }

    @include media('<tablet') {
        margin-right: 50px;
    }

    span{
        position: absolute;
        top: 9px;
        left: 0;
        width: 30px;
        height: 5px;
        background-color: $white;
        border-radius: 10px;
        transition: $anim_05;
    }
    
    &::before, &::after{
        content:'';
        position: absolute;
        height: 5px;
        background-color: $white;
        border-radius: 10px;
        transition: $anim_05;
    }

    &::before{
        width: 24px;
        top: 0;
        left: 0;
    }

    &::after{
        width: 18px;
        bottom: 0;
        left: 0;
    }

    .active & {

        &::before{
            width: 100%;
            top: 9px;
            transform: rotate(45deg);
        }

        &::after{
            width: 100%;
            bottom: 10px;
            transform: rotate(-45deg);
        }

        span {
            width: 0;
        }
    }
}