<footer id="footer">
    <img class="bg" src="./images/icons/footer-abst.svg" alt="Lines">
    <div class="container">
        <div class="content">
            <div class="logo-block">
                <a class="logo" href="#">
                    <img src="./images/icons/logo.svg" alt="Logo">
                </a>
                <div class="soc-box">
                    <div class="icon">
                        <img src="./images/icons/footer-icon.svg" alt="Logo">
                    </div>
                    <ul class="soc-wrap">
                        <li class="soc-item">
                            <a class="soc-link" href="#" target="_blank">
                                <img src="./images/icons/be.svg" alt="Soc Icon">
                            </a>
                        </li>
                        <li class="soc-item">
                            <a class="soc-link" href="#" target="_blank">
                                <img src="./images/icons/facebook.svg" alt="Soc Icon">
                            </a>
                        </li>
                        <li class="soc-item">
                            <a class="soc-link" href="#" target="_blank">
                                <img src="./images/icons/insta.svg" alt="Soc Icon">
                            </a>
                        </li>
                        <li class="soc-item">
                            <a class="soc-link" href="#" target="_blank">
                                <img src="./images/icons/linkedin.svg" alt="Soc Icon">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <nav class="nav-block">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-link" href="#">We are transparent</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Our Mission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Challenges we solve</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">AgroVision Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Meet the management team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Our Certifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Geography and numbers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Our Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Vision Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">We can expand your team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Visit our blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Let`s talk</a>
                    </li>
                </ul>
            </nav>
            <div class="lang-block">
                <div class="lang-wrap">
                    <p class="curent-lang">EN</p>
                    <ul class="lang-list">
                        <li class="lang-item">
                            <a class="lang-link" href="#">EN</a>
                        </li>
                        <li class="lang-item">
                            <a class="lang-link" href="#">UA</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bot">
            <p class="copyright">©Copyright 2024, All rights reserved.</p>
            <div class="links">
                <a class="link" target="_blank" href="policy.html">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>