<header id="header">
    <div class="overflow"></div>
    <div class="overflow-blur"></div>
    <div class="search-file">
        <input type="text">
    </div>
    <div class="container">
        <div class="content">
            <a class="logo" href="#">
                <img src="./images/icons/logo.svg" alt="Logo">
            </a>
            <nav class="menu-wrap">
                <ul class="menu">
                    <li class="menu-item">
                        <a class="link link-close" href="#mission">Our Mission</a>
                    </li>
                    <li class="menu-item">
                        <a class="link link-close" href="#">Services</a>
                    </li>
                    <li class="menu-item">
                        <a class="link link-close" href="#">Industries</a>
                    </li>
                    <li class="menu-item">
                        <a class="link link-close" href="#">Portfolio</a>
                    </li>
                    <li class="menu-item">
                        <a class="link link-close" href="#blog">Blog</a>
                    </li>
                    <li class="menu-item">
                        <a class="link link-close" href="#">Career</a>
                    </li>
                </ul>
                <div class="search-box">
                    <button class="search search-btn">
                        <svg viewBox="0 0 45 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M29.2276 27.2189L43 40M33.8889 16.7778C33.8889 24.9393 26.7503 31.5556 17.9444 31.5556C9.13858 31.5556 2 24.9393 2 16.7778C2 8.61624 9.13858 2 17.9444 2C26.7503 2 33.8889 8.61624 33.8889 16.7778Z" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <div class="search-file mob">
                        <input type="text">
                    </div>
                </div>
                <a class="logo mob link-close" href="#">
                    <img src="./images/icons/logo.svg" alt="Logo">
                </a>
            </nav>
            <a class="btn" href="#contacts">Contact Us</a>
            <button class="burger">
                <span></span>
            </button>
        </div>
    </div>
</header>