html {
	scroll-behavior: smooth;
}

body {
    background: rgb(24,113,49);
	background: linear-gradient(90deg, rgba(24,113,49,1) 40%, rgba(72,29,141,1) 60%);

	&.body_lock {
		overflow: hidden;
	}
}

#wrapper{
	position: relative;
	overflow: hidden;
}

.container {
    width: 100%;
	max-width: 1660px;
	padding: 0 20px;
	margin: 0 auto;

	@include media('<laptop_max') {
		max-width: 1300px;
	}

	@include media('<widescreen') {
		max-width: 900px;
	}
}

.overflow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: $anim_03;

	.active & {
		z-index: 0;
		visibility: visible;
		opacity: 1;
	}
}

.overflow-blur {
	position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: $anim_03;

	&.active {
		z-index: 1;
		visibility: visible;
		opacity: 2;
	}
}

.btn {
	display: inline-block;
	padding: 13px 25px;
	background-color: #A5D6A3;
	border-radius: 25px;
	text-align: center;
	font: $bold 32px/1.2 $Montserrat;
	border: 2px solid transparent;
	transition: $anim_03;

	&:hover {
		background-color: transparent;
		color: $white;
		border-color: $white;
	}

	&.max {
		min-width: 470px;
		padding: 25px;
		border-radius: 150px;
		font-size: 64px;
		font-weight: $heavy;

		@include media('<laptop_max') {
            font-size: 44px;
			min-width: 0;
			padding: 10px 25px;
        }

		@include media('<phone') {
            font-size: 24px;
        }
	}
}

.sec-btn {
	display: inline-block;
	padding: 10px 40px;
	background-color: $purple8D;
	border-radius: 55px !important;
	border: 1px solid transparent;
	text-align: center;
	font: $medium 32px/1.2 $Montserrat;
	color: $white;
	transition: $anim_03;

	@include media('<widescreen') {
		font-size: 22px;
	}

	&:hover {
		background-color: transparent;
		border-color: $white;
	}
}

.title {
	margin-bottom: 45px;
	font: $medium 60px/1.2 $Montserrat;

	@include media('<laptop_max') {
		font-size: 45px;
	}

	@include media('<phone') {
		margin-bottom: 25px;
		font-size: 28px;
	}
}

.p50 {
    padding: 50px 0;

    @include media('<phone') {
        padding: 25px 0;
    }
}

.arrow {
	color: $white;
	transition: $anim_03;

	&:hover {
		transform: scale(1.1);
	}

	&::after {
		@include media('<phone') {
			font-size: 30px;
		} 
	}
}

.pag {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 25px;

	@include media('<widescreen') {
		gap: 15px;
	}

	@include media('<phone') {
		gap: 0;
	}

	.swiper-pagination-bullet {
		width: 30px;
		height: 30px;
		border: 1px solid $white;
		background: transparent;
		opacity: 1;
		margin: 0;
		transition: $anim_03;

		@include media('<widescreen') {
			width: 20px;
			height: 20px;
		}

		@include media('<phone') {
            width: 10px;
			height: 10px;
        }
	}

	.swiper-pagination-bullet-active {
		background-color: $white;
	}
}

.lines {
	position: absolute;
	top: 50%;
	right: 0;
	z-index: -1;
	animation: animLines 3s .5s forwards;
	opacity: 0;

	@include media('<tablet') {
		right: -70px;
		top: 20%;
	}

	@include media('<phone') {
		display: none;
	}

	&.mob {
		display: none;
		width: 100%;
		right: 0;
		top: 0;

		@include media('<phone') {
			display: block;
		}
	}
}

@keyframes animLines {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.button-lock {
	display: none;
}

*::-webkit-scrollbar {
  width: 20px;
}

/* Track */
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent; 
  border-radius: 10px;
}
 
/* Handle */
*::-webkit-scrollbar-thumb {
  background: $green38; 
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: $green38; 
}