html {
	scroll-behavior: smooth;
}

body {
    background: rgb(24,113,49);
	background: linear-gradient(90deg, rgba(24,113,49,1) 40%, rgba(72,29,141,1) 60%);

	&.body_lock {
		overflow: hidden;
	}
}

#wrapper{
	position: relative;
	overflow: hidden;
}

.container {
    width: 100%;
	max-width: 1660px;
	padding: 0 20px;
	margin: 0 auto;
}

.overflow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: $anim_03;

	.active & {
		z-index: 0;
		visibility: visible;
		opacity: 1;
	}
}

.overflow-blur {
	position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: $anim_03;

	&.active {
		z-index: 1;
		visibility: visible;
		opacity: 2;
	}
}

.btn {
	display: inline-block;
	padding: 13px 25px;
	background-color: #A5D6A3;
	border-radius: 25px;
	text-align: center;
	font: $bold 32px/1.2 $Montserrat;
	border: 2px solid transparent;
	transition: $anim_03;

	&:hover {
		background-color: transparent;
		color: $white;
		border-color: $white;
	}

	&.max {
		min-width: 470px;
		padding: 25px;
		border-radius: 150px;
		font-size: 64px;
		font-weight: $heavy;

		@include media('<laptop_max') {
            font-size: 44px;
			min-width: 0;
			padding: 10px 25px;
        }

		@include media('<phone') {
            font-size: 24px;
        }
	}
}